services:
  MissionCriticalDemo.DispatchApi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "8080:80"
      - "7079:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  MissionCriticalDemo.PlantApi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "8082:80"
      - "7071:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  MissionCriticalDemo.FrontEnd:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "80:80"
    
  mongodb_dispatch:
    container_name: dispatch_stateserver
    image: mongo:7.0
    restart: always
    ports:
      - 27017:27017
    environment:
      - MONGODB_REPLICA_SET_MODE=primary
      - ALLOW_EMPTY_PASSWORD=yes
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - mission-critical-network
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'dispatch_stateserver:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      #start_interval: 1s
      retries: 30

  mongodb_plant:
    container_name: plant_stateserver
    image: bitnami/mongodb:latest
    restart: always
    ports:
      - 27019:27017
    environment:
      - MONGODB_REPLICA_SET_MODE=primary
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - mission-critical-network

  mongoexpress_dispatch:
    container_name: dispatch_stateviewer
    image: mongo-express
    restart: always
    environment:
      - ME_CONFIG_MONGODB_SERVER=dispatch_stateserver
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    ports:
      - 8083:8081
    networks:
      - mission-critical-network

  mongoexpress_plant:
    container_name: plant_stateviewer
    image: mongo-express
    restart: always
    environment:
      - ME_CONFIG_MONGODB_SERVER=plant_stateserver
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    ports:
      - 8084:8081
    networks:
      - mission-critical-network


  redis:
    container_name: "redis_service"
    image: "redis"
    ports:
      - "6378:6379"
    networks:
      - mission-critical-network

  redisinsights:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    networks:
      - mission-critical-network
    volumes:
      - redisinsights:/db

  zipkin:
    container_name: "zipkin"
    image: "jaegertracing/all-in-one:1.6"
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
      - COLLECTOR.ZIPKIN_ALLOWED-ORIGINS="*" \
      - COLLECTOR.ZIPKIN_ALLOWED-HEADERS="*"
    ports:
      - 9412:9411
      - 16686:16686
    networks:
      - mission-critical-network

  # zipkin:
  #   container_name: "zipkin"
  #   image: "openzipkin/zipkin:2.23.4"
  #   ports:
  #     - 9412:9411
  #   networks:
  #     - mission-critical-network

  # otel:
  #   container_name: "otel"
  #   image: otel/opentelemetry-collector-contrib
  #   command: [
  #     "/otelcol-contrib",
  #     "--config=/conf/otel-collector-config.yaml"
  #   ]
  #   privileged: true
  #   ports:
  #     - 4317:4317
  #     - 4318:4318
  #     - 9413:9411
  #   volumes:
  #     - ./components/otel-collector-config.yaml:/conf/otel-collector-config.yaml
  #   networks:
  #     - mission-critical-network



volumes:
  redisinsights: